* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


@media (max-width: 639px) {
    .hidden-on-mobile {
        display: none;
    }
}

@media  (max-width: 639px) {

body {
     font-size: 1.6rem;
     line-height: 2.2rem;
}

    header {
        height: 4.8rem;
       /*border-bottom: 1px solid #F5CA9B;*/
        margin-bottom: 32px;
    }
   
    header.index {
        height: 100vh;
         min-width: 100%;
         padding: 0;
    }
 
@media (max-width: 639px) {
    #logo {
        width: 15rem;
         min-width: 15rem;
         padding-top: 20vh;
         padding-bottom: 24px;
      margin: 0 auto;
     }
 }
   
    
	.wrapper {
		width: 89%;
		margin: 0 auto;
	
	}
   
    /*.body-text-mobile {
        font-size: 1.6rem;
        list-style: none;
    }*/

    .mobile-profile {
        width: 28%;
        height: 28%;
        margin: 42px auto 0;
    }

    
.nav {
    display: none;
    }


    h1 {
        font-size: 2.4rem;
        margin: 0;
    }

    h2 {
        font-size: 2.2rem;
        margin: 0 0 16px 0;
        padding: 0;
    }

    h3 {
        font-size: 2.2rem;
       /* margin: 0 0 8px 0*/
    }

    h4 {
        font-size: 2.0rem;
        margin: 0 0 16px 0;
    }

    h5 {
        font-size: 1.4rem;
    }

    #title-resume {
        font-family: linotype-didot, serif;
        font-size: 2.2rem;
        font-weight: 400;
        margin: 0 0 4px 0;
    }

 
    .row {
        margin: 32px auto;
    } /* .section only bottom margin*/

    .row p {
 		margin:  0;
        padding: 0 0 8px 0;
		width: 100%
        }
        
    

 .columns {
     flex-wrap: wrap;
 }
 .column-50 {
    width: 100%;
 }
/*.screen-img-mobile {
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}*/
/*.screen-img-50 {
    width: 48%;
    max-width: 651px;
    justify-content: space-between;
  */

.container-image-grid {
    column-count: 2;
}

.img-in-grid {
    margin-top: 16px;
}

/*******************************************/
    /* layout index*/
/*******************************************/

    
    #homepage h1 {
        margin: 24px 0px 0;
        
    }
    
    #homepage h3 {
        padding: 16px 0 8px 0;
        margin: 0;
      }
    
	.images-home {
		display: block;
		margin: 0 auto;
	
	}

/*******************************************/
    /* layout projects*/
/*******************************************/
 .section {
     margin-bottom: 32px;
 } /* only bottom margin! .row top and bottom*/
 
 .body-text-row  {
    margin-bottom: 32px;
    }
.body-text-row p {
    margin-bottom: 8px;
    }
.body-text-row li {
    margin-bottom: 8px;
    }

.img-projects {
    margin-bottom: 16px;
}

.box-gradient {
    width: 100%;
    margin: 0 auto 16px;
    
}
/**** GCF***/
.box-primes {
 height: 24px;
 background-image: linear-gradient(to right, #FAF5F0, #F0E3DA, #F9BDCA, #F48BA2 );

} 

.box-neutral {
    height: 24px;
    background-image: linear-gradient(to right, #FFFFFF, #BEB3BE, #694F68);
   
   } 

/*******************************************/
    /* footer*/
/*******************************************/

	.footer {
		margin-top: 32px
	}	
	
 .footer-content {
    width: 89%;
    margin: 0 auto;
 }


    .footer p {
        padding: 0 0 8px;
      
        margin: 0 auto;
       }
    
       .footer h4 {
    padding: 32px 0 16px 0;
       }
    }
