* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}

@media  (max-width: 1024px ) {
@media  (min-width: 640px ) {

#logo {
    width: 21rem;
    min-width: 21rem;
    padding-top: 20vh;
    padding-bottom: 24px;
 margin: 0 auto;
}

.wrapper {
    width: 89%;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .small-tablet {
       min-width: 100%;  
        display: block; 
        flex-wrap: wrap; 
    }



/*******************************************
                GCF
********************************************/

/*
.playfair h4  {
    font-family: playfair-display, serif;
    font-weight: 700;
    font-style: normal;
    color: #f4e5d5;
    margin-bottom: 8px;
}
.playfair h5  {
    font-family: playfair-display, serif;
    font-weight: 400;
    font-style: normal;
    color: #f4e5d5;
    margin-bottom: 8px;
}
.playfair p {
    font-family: playfair-display, serif;
    font-weight: 300;
    font-style: normal;
    color: #f4e5d5;
    margin-bottom: 16px;
}

.classico {
    padding-left: 8px;
    flex-wrap: nowrap;
}
.classico h4 {
    font-family: classico-urw, sans-serif;
    font-weight:  700;
    font-style: normal;
    color: #f4e5d5;
    margin-bottom: 8px;
}
   

.classico h5  {
    font-family: classico-urw, sans-serif;
    font-weight:  700;
    font-size: 2rem;
    color: #f4e5d5;
    margin-bottom: 8px;
    text-align-last: justify;
}

.classico h6 {
    font-family: classico-urw, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    
    color: #f4e5d5;
    margin-bottom: 16px;
  
}
.classico p {
    font-family: classico-urw, sans-serif;
    font-weight: 400;
    text-align-last: justify;
}
*/


.footer-content {
    width: 89%;
    margin: 0 auto;
 }

}  /************ END MEDIA QUERY ********/

}  /************ END MEDIA QUERY ********/