* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   html {
    font-size: 62.5%;
}
  
body {
    background-color: #08090c;
    font-family: 'Source Sans Pro', sans-serif;
    color: #F5CA9B;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    font-kerning: auto;
}


header {
    background-color: #08090c;
    width: 100%;
    height: 240px;
    border-bottom: 1px solid #F5CA9B;
    margin: 0 0 64px;
}


#logo {
    width: 15rem;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 3.0rem;
    font-family: linotype-didot,serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: linotype-didot,serif;
    font-size: 2.6rem;
    font-weight: 400;
}

h3 {
    font-family: linotype-didot,serif;
    font-size: 2.2rem;
    font-weight: 400;
    font-style: italic;
   tyle: italic;
}

h4 {
    font-family: linotype-didot,serif;
    font-size: 2.2rem;
    font-weight: 400;
}

.small-bodytext {
    font-size: 1.4rem;
    font-weight: 300;
}

.text-uppercase {
    text-transform: uppercase;

}

a {
    color: #6e8cd8fe;
    text-decoration: none;
    font-size: 1.8rem;
}

a:hover {
    color: #819febfe;
}

a:focus {
    color: #819febfe;
}

a:visited {
    color: #738dcefe;

}

a:active {
    text-decoration: underline;
    color: #bcceed;
}

.nav > a {
    color: #F5CA9B;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 0 15px;
    display: inline-block;
}

.nav:hover  {
    font-weight: 600;
    
}

.nav:focus {
    font-weight: 600;
    
}
.nav#home {
    color: #F5CA9B;
    font-size: 2.0rem;
    font-weight: 400;
    text-decoration: underline;
}
.nav#about {
    color: #F5CA9B;
    font-size: 2.0rem;
    font-weight: 400;
    text-decoration: underline;
}

.button {
    display: inline-block;
    background-color: #eeeeee;
    font-weight: 400;
    color: #6386defe;
    padding: 8px;
    border-radius: 20px;
    border-bottom: 2px solid #738dcefe;
}

.button:hover {
    background-color: #6386defe;
    color: #eeeeee;
}

.button:focus {
    background-color: #6386defe;
    color: #eeeeee;
}



@media only screen and (min-width: 640px) {
    .hidden-on-desktop {
    display: none;
    }
}

@media (max-width: 639px) {
    .hidden-on-mobile {
        display: none;
    }
}

img {
    width: 100%;}

    
    /* layout styling*/

    .container {
        padding: 16px;
    }

.social-icons {
    width: 32px;
    height: 32px;
}

