* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}

@media  (max-width: 850px ) {
    @media  (min-width: 640px ) {
    
           #logo.small-tablet{
            width: 18rem;
            min-width: 18rem;
            padding-top: 10vh;
            padding-bottom: 16px;
         margin: 0 auto;
        }
        #logo-text.small-tablet{
            width: 24rem;
            min-width: 24rem;
            padding-top: 16px;
           margin: 0 auto 32px;
        }
        header.index {
            height: 100vh;
           padding-top: 0;    
        } 

    }
    } 

    @media (min-width: 851px) {
        @media (max-width: 1023px) {
        #logo {
            width: 21rem;
            min-width: 21rem;
            padding-top: 12vh;
            padding-bottom: 16px;
         margin: 0 auto;
        }
        #logo-text {
            width: 26rem;
            min-width: 26rem;
            padding-top: 16px;
           margin: 0 auto 32px;
        }
        } /* end media query max 1023 px */
        } /* end media query min 851px */
        
        

@media  (max-width: 1024px ) {
@media  (min-width: 640px ) {

    body {
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 300;
        overflow-x: hidden;
        padding-top: 32px;
   }

.wrapper {
    width: 89%;
    margin: 0 auto;
}
header {
    height: 16rem;
   margin-bottom: 0px;

}
header.wrapper {
padding-top: 0%;
}

header.index {
    height: 105vh;
   padding-top: 0;    
} 

h1 {
    font-size: 3.0rem;
    font-family: linotype-didot, serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding:  0;
}

h2 {
    font-family: linotype-didot, serif;
    font-size: 2.8rem;
    font-weight: 400;
    
}

h3 {
    font-family: linotype-didot, serif;
    font-size: 2.6rem;
    font-weight: 400;
    width: 100%;
}

h4 {
    font-family: linotype-didot, serif;
    font-size: 2.4rem;
    font-weight: 400;
    margin: 0 0 24px 0;
}

h5 {
    font-family: linotype-didot, serif;
    font-size: 2.0rem;
    font-weight: 400;
}

/**************************************************
    Index
************************************************* */

#intro-text p {
    font-size: 1.6rem;
    font-weight: 400;
}

/**************************************************
 containers, columns, sections,
************************************************* */

@media only screen and (max-width: 1024px) {

   .column-60 {
        width: 100%;
    padding: 0;
     
    }
    .column-50.column-30 {
        width: 70%;
        margin-left: 30%;
}

}
.columns {
    flex-wrap: wrap;
}

.section {
    margin-bottom: 48px;
} 

.end {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
 .tablet-100 {
     width: 100%;
     flex-wrap: wrap;
     max-width: 100%;
 }
.column-50 .tablet-100 {
    min-width: 100%;
   
}
 
 .container-color-swatches {
     width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.space-bottom {
    padding-bottom: 32px;
}


/*******************************************
                GCF
********************************************/

.brand-logo {
    width: 43%;
    max-width: 509px;
    margin: 0 auto 0px;
    padding-top: 0px
}
.color-ellipses {
    width: 120px;
        height: 120px;
}

.neutral-1 {
    background-color: #ffffff;
    width: 110px;
    height: 110px;
}

.neutral-2 {
background-color: #BEB3BE;
width: 110px;
height: 110px;
}

.neutral-3 {
    background-color: #694F68;
    width: 110px;
    height: 110px;
}

.box-accent {
    height: 24px;
    background-color: #9FE0E0 ;
width: 100%;
   } 
   .colors .column-50 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
   .colors .small-bodytext {
    font-size: 1.6rem;
 display: block;
    padding: 0;
}

.padding-sides-bottom {
    padding: 0 20% 32px 20%;
}
   
   #thank-you-gcf .column-50 {
       width: 100%;
       flex-wrap: wrap;
   }
   #thank-you-gcf h2 {
     width: 100%;
    margin-bottom: 0;
    margin-top:48px;
   font-size: 3.3rem;
}

.column-end>h2 {
    display: flex;
justify-content: flex-end;
margin-right: 137px;
}
/*******************************************
               trEats
********************************************/

.personas .column-50 {
    width: 100%;
}

.box-color-swatch {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 16px;
}
.color-treats-background {
    background-color: #FFFFFF;
    width: 100%;
   padding: 24px 16px 24px 16px;
}


.color-treats h4 {
    margin-left: 16px;
    width: 100%;
    color: #08090c; 
}

.treats-prime-2 {
    background-color: #FE8C3B ;
    margin-right: 0px;
}
.treats-neutral-dark {
    background-color: #1C0E0E ;
    margin-left: 0;
}

.color-treats .small-bodytext {
    font-size: 1.6rem;
    color: #08090c;
 display: block;
    padding: 0;
}
.color-treats .column-50 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


/*******************************************/
 /* martial arts Project*/
 /*******************************************/

 .ninjas .column-30 {
     width: 48%;
     flex-wrap: wrap;
 }
 .ninjas .column-50 {
     width: 100%;
     flex-wrap: wrap;
 }
 .ninjas .center-element {
     width: 48%;
     flex-wrap: wrap;
     justify-content: unset;
 }

 .box-martial-arts {
    width: 100%;
    height: 56px;
    background-image: linear-gradient(to right,
     #FE9B15,#ed7206, #d53f09);
}
.box-martial-arts {
    width: 100%;
    height: 48px;
    background-image: linear-gradient(to right,
     #FE9B15,#ed7206, #d53f09);
     padding: 6px 8px;
}

.respo-h3-index {
    font-size: 2.1rem;
}
@media (min-width:750px) {
    .respo-h3-index {
 font-size: 2.4rem;
    }   
}
@media (min-width:850px) {
    .respo-h3-index {
 font-size: 2.6rem;
    }   
}

/*******************************************/
/* Button & Footer*/
/*******************************************/

.footer-content {
    width: 89%;
    margin: 0 auto;
 }


}  /************ END MEDIA QUERY ********/

}  /************ END MEDIA QUERY ********/
