* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


@media (max-width: 639px) {
    .hidden-on-mobile {
        display: none;
    }
}

@media  (max-width: 639px) {

body {
     font-size: 1.6rem;
     line-height: 2.2rem;
     font-weight: 300;
     overflow-x: hidden;
}

    header {
        height: 12rem;
       /*border-bottom: 1px solid #F5CA9B;*/
        margin-bottom: 32px;
    }
   
    header.index {
        height: 100vh;
         min-width: 100%;
         padding: 44px 20px 16px;
    }
    .wrapper {
		width: 89%;
        margin: 0 auto;
        padding-top: 44px;
	
	}

@media (max-width: 639px) {
    #logo {
        width: 15rem;
         min-width: 15rem;
         padding-top: 10vh;
         padding-bottom: 24px;
      margin: 0 auto;
     }

     #logo-text {
        width: 15rem;
        min-width: 15rem;
        padding-top: 16px;
       margin: 0 auto;
    }
 }

   
    .mobile-profile {
        width: 28%;
        height: 28%;
        margin: 42px auto 0;
    }

    .hamburger {
        width: 28px;
       cursor: pointer;
      }
      .close {  
          display: inline-block;
      
        cursor: pointer;
        display: flex;  
        display: -webkit-flex;
      }
      .close img {
         width: 24px;
      }
     
     .slide .close {
         justify-content: right;
         -webkit-justify-content: flex-end;
         
     }

.slide {
     width: 87%;
     height: 100vh;
    background-color: #111115;
    position: absolute;
    left: 0;
    padding: 16px 24px;
    transform: translateX(-100%); 
    transition: transform 0.8s ease-in;
    position: absolute;
    top: 0%;
   
 }
.slide ul {
    width: 30%;
    position: absolute;
    top: 0;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55vh;

}
.slide ul li {
    
    padding: 0;

} 
.slide #logo-text {
    display: none;
    transition: none;
}

.slide-active {
    transform: translateX(0);
   transition: transform 0.8s ease-in;
}

    h1 {
        font-size: 2.6rem;
        margin: 0;
    }

    h2 {
        font-size: 2.4rem;
        
        padding: 0;
    }

    h3 {
        font-size: 2.3rem;
      
    }

    h4 {
        font-size: 2.2rem;
        margin: 0 0 16px 0;
    }

    h5 {
        font-size: 1.8rem;
    }

    .row {
        margin: 32px auto;
    } /* .section only bottom margin*/

    .row p {
 		margin:  0;
        padding: 0 0 8px 0;
		width: 100%
        }
        
 .columns {
     flex-wrap: wrap;
     justify-content: space-between;
 }
 .column-50 {
    width: 100%;
 }

 .column-50 h4 {
    margin-bottom: 16px;
}

.column-60 {
    padding: 0;
    width: 100%;
}
.end {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

.container-image-grid {
    column-count: 2;
}

.img-in-grid {
    margin-top: 16px;
}
.img-in-grid.last {
    margin-top: 22px;
}
.space-bottom {
    padding-bottom: 24px;
}

.increase-font-size {
    transition: font-size;
}
.increase-font-size:hover {
    font-size: 2rem;
}

/*******************************************/
    /* layout index*/
/*******************************************/

	.images-home {
        margin-bottom: 8px;
	}

/*******************************************/
    /* layout projects containers, columns, section*/
/*******************************************/
 .section {
     margin-bottom: 32px;
 } /* only bottom margin! .row top and bottom*/
 
 .body-text-row  {
    margin-bottom: 32px;
    }
.body-text-row p {
    margin-bottom: 8px;
    }
.body-text-row li {
    margin-bottom: 8px;
    }

.img-projects {
    margin-bottom: 16px;
}

.box-gradient {
    width: 100%;
    margin: 0 auto 24px;
    
}

/**********************************/
/* GCF
/**********************************/

.box-primes {
 height: 24px;
 background-image: linear-gradient(to right, #FAF5F0, #F0E3DA, #F9BDCA, #F48BA2 );

} 
.color-ellipses {
    width: 100px;
        height: 100px;
}
.primes-1 {
    margin-right: unset;
}
.box-neutral {
    height: 24px;
    background-image: linear-gradient(to right, #FFFFFF, #BEB3BE, #694F68);
    margin-top: 32px;
   } 
.box-accent {
    height: 24px;
    background-color: #9FE0E0 ;
   } 
   
.brand-logo {
    width: 43%;
    max-width: 509px;
    margin: 0 auto 0px;
    padding-top: 0px
}

#thank-you-gcf h2 {
    margin-bottom: 0;
    margin-top:0px;
   font-size: 3.0rem;
}
 
 /*.color-ellipses {
        margin: 0 auto;
    } */
    .colors .column-50 {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    
 .neutral-1 {
        background-color: #ffffff;
        width: 75px;
        height: 75px;
    }
    
    .neutral-2 {
    background-color: #BEB3BE;
    width: 75px;
    height: 75px;
    }
    
    .neutral-3 {
        background-color: #694F68;
        width: 75px;
        height: 75px;
    }

.xtra-small-bodytext{
    font-size: 1.2rem;
  padding: 0;
  
} 

.mobile-100 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.mobile-100 .small-bodytext {
    flex-wrap: wrap;
   
}
.mobile-100 h4 {
    display: block;
    width: 100%;
}



/*******************************************/
    /* layout About*/
/*******************************************/


#title-resume {
    font-family: linotype-didot, serif;
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0 0 4px 0;
}
.space-bottom h2 {
padding-bottom: 16px;
}
#about-page .columns {
    padding: 24px 0 32px;
}
.container-button {
   margin: unset;
}


/*******************************************/
    /* layout trEats*/
/*******************************************/

.personas .column-30 {
    width: 100%;
}

.box-color-swatch {
    width: 132px;
    height: 132px;
    border-radius: 10px;
    margin-bottom: 8px;
}
.color-treats-background {
    background-color: #FFFFFF;
    width: 100%;
    padding: 24px 16px 24px 16px;
}

.color-treats h4 {
    width: 100%;
}

.treats-prime-2 {
    background-color: #FE8C3B ;
    margin-right: 0px;
}
.treats-neutral-dark {
    background-color: #1C0E0E ;
}

.color-treats .small-bodytext {
    font-size: 1.6rem;
    color: #08090c;
 display: block;
    padding: 0;
}
.color-treats .column-50 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


/*******************************************/
    /* footer */
/*******************************************/


	.footer {
        margin-top: 48px; 
	}	
	
 .footer-content {
    width: 89%;
    margin: 0 auto;
 }

    .footer p {
        padding: 0 0 16px;
      margin: 0 auto;
       }
    
    .footer h4 {
    padding: 16px 0 16px 0;
       }
    }
