* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    font-size: 62.5%;
 scroll-behavior: smooth;
}

@media (max-width: 1024px) {
    @media (min-width: 640px) {

        h1 {
            font-size: 4.2rem;
            font-weight: 400;
        }

        h2 {
            font-size: 3.4rem;
            font-weight: 300;
        }

        .logo {
            height: 3.0rem;
            padding-left: 16px;
        }

        h3 {
            font-size: 2.2rem;
            font-weight: 300;
        }

        .section {
            margin-bottom: 80px;
        }
       
        .space-bottom {
            margin-bottom: 40px;
        }

        .space-p {
            margin-bottom: 1.8rem;  
          }

        .column-65 {
            width: 80%;
        }
        /*******************************************/
        /* Email 2*/
        /*******************************************/
    
        .Event-card-container {
            background-color: #3A3939;
            height:582px ;
            padding: 0rem 8rem 4.8rem;
            margin-top: 246px;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        
        .tickets {
            width: 182px;
            height: 226px ;
            margin-top: -180px;
        }

        .event-title {
            font-size: 3.6rem ;
            margin-bottom: 8px;
        }

        .event-logo {
            width: 25.3rem;
            height: 14.4rem;
            background-color: white ;
            opacity: 0.6;
            margin-top: 7.2rem;
            text-align: center;
           padding: 5.8rem 0;
        }

        .event-logo p{
            color: #272727;
            font-size: 2.2rem;
        }

        .card {
            height: 20.9rem;
            background-color: #3A3939;
            padding: 3.2rem ;
        }

        .card-title {
            font-size: 3rem;
            font-weight: 300;
        }

    }
}

@media (max-width: 842px ) {
    .event-title {
        font-size: 3rem ;
        margin-bottom: 8px;
    }

    .tickets {
        height: 150px ;
        width: 186px;
        margin-top: -180px;
    }

}
@media (max-width: 679px ) {
    .event-title {
        font-size: 2.7rem ;
        margin-bottom: 8px;
    }
}

