* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    font-size: 62.5%;
 scroll-behavior: smooth;
}

@media (max-width: 639px) {


    body {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;
    }

    h1 {
        font-size: 2.6rem;
        font-weight: 400;
    }

    .logo {
        height: 2.4rem;
        padding-left: 8px;
    }


    h3 {
        font-size: 2.0rem;
        font-weight: 300;
    }

    h2 {
        font-size: 2.6rem;
    }

    .card-title {
        font-size: 1.8rem;
        font-weight: 300;
    }
    

    .section {
        margin-bottom: 64px;
    }

    .space-p {
        margin-bottom: 1.6rem;  
      }

    .column-65 {
        width: 100%;
    }

    .primary-button {
        width: 128px;
        height: 40px;
        background-color: #F28335;
        font-size: 1.2 rem;
        scroll-margin-top: 64px;
    }

    .wrapper-footer {
        min-height: 40vh;
        }

    footer {
        width: 100%;
      padding-bottom: 8px;
       margin-top: 9.6rem;
   }

    /********************************************/
    /* Email 2*/
    /*******************************************/

    .tickets {
        width: 22% ;
        margin-bottom: 16px;
    }

    .event-card {
         height: 32rem;
        padding: 5.6rem 2.4rem;
        margin-top: -5rem;
    }

    .event-title {
        font-size: 2.4rem ;
        margin-bottom: 6px;
    }

    .event-logo {
        width: 22.3rem;
        height: 13rem;
        margin-top: 1.9rem;
        padding: 32px 0;
    }

    .event-logo p {
        color: #272727;
        font-size: 1.8rem;

    }

    .card {
        height: 16rem;
        margin-top: 3.2rem;
        background-color: #3A3939;
        padding: 1.6rem ;
    }

}

@media (max-width: 420px) {

    h3 {
        font-size: 1.8rem;
    }

    .event-card {
       height: 28rem;
         padding: 4rem 2.4rem;
         margin-top: -4rem;
     }

    .event-title {
        font-size: 2rem ;
        margin-bottom: 8px;
    }

    .event-logo p {
        color: #272727;
        font-size: 1.6rem;
 }

}

@media (max-width: 361px) {

    .event-title {
        font-size: 1.8rem ;
        margin-bottom: 8px;
    }

    .card-title {
        font-size: 1.6rem;
        font-weight: 300;
    }
}
@media (max-width: 335px) {

    .event-title {
        font-size: 1.6rem ;
        margin-bottom: 8px;
    }

    .card-title {
        font-size: 1.4rem;
        font-weight: 300;
    }
}
